/* COMMON RULES  */
*{
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 .boxed{
    background-color: lightblue;
    min-height: 3rem;

    max-width: 1140px;
    width: auto;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    margin: auto;
 }

img{
   width: 100%;
}

i{
   font-size: 75px;
}

 .debug{
   background-color: pink;
   border: 2px dashed green;
 }

.cont .button{
   background-color: #0084FD;
   border-radius: 50px;
   border: none;
   width: 90%;
   margin: 2rem 0;
   padding: 15px;
   color: white;
   font-size: 1.3rem;
   text-align: center;
}
.button>i{
   font-size: 20px;
   color: white;
}
section{
   margin: 3rem 0;
}
span{
   font-size: 20px;
   line-height: 35px;
}

.cards span{
   line-height: 15px;
}

/******************************** header *********************************/

header{
   background-color: #0084FD;
   display: flex;
   justify-content: space-between;
   padding: 1rem 2rem;
}

/******************************** main *********************************/
/* section 1 */
.card{
   min-height: 20rem;
   margin: 1rem;
   background-color: #B5DDFF;
   border-radius: 30px;
   line-height: 30px;
   color: rgb(83, 83, 83);
   font-weight: 600;
}
.card h2, .card>i{
   color: #0084FD;
}
.card h2{
   font-size: 35px;
}
.long{
   width: 100%;
   display: flex;
   flex-direction: column;
}
.cont{
   padding: 1rem;
   /* width: 50%; */
}
.cont>*,.little *{
   padding: 1.5rem 0;
}
.col{
   background-color: aquamarine;
   border: 2px dashed red;
   min-height: 10rem;
   position: relative;
   
}
.little{
   text-align: center;
   padding: 1.5rem;
}

.img{
   display: inline-block;
   background-color: purple;
   border: 2px dashed violet;
}

/* section planning */
.short{
   max-width: 960px;
}
.strategic{
   background-color: #9793E4;
   min-height: 10rem;
}
.woman{
   color: white;
}
.strategic h2{
   font-size: 30px;
}
.woman-img{
   padding: 30px;
}
.woman h2{
   margin: 50px 0;
}
.woman .cont{
   padding: 30px;
   line-height: 1.5rem;
   width: 100%;
}

.man{
   background-color: white;
   padding: 10px;
   margin: 30px;
   border-radius: 50px;
   text-align: center;
}
.man span{
   font-style: oblique;
}
.man i{
   font-size: 15px;
   background-color: #9793E4;
   border-radius: 60px;
   padding: 15px 17px;
   margin-top: 15px;
}
.man-img{
   margin: 30px;
}
.cont-man{
   width: auto;
}
.cont-man *{
   padding: 10px 0;
}
/*************** testimonials **********************/
.testimonials{
   display: block;
   text-align: center;
}
.testimonials>*{
   margin: 30px;
   background-color: pink;
   border: 2px dashed green;
}

.testi-intro *{
   padding-bottom: 20px;
}
.testi-intro div{
   font-size: 20px;
}
.testi-intro h2{
   font-size: 40px;
   color: #9793E4;
}
.testi-intro span{
   font-size: 25px;
}
/* '------------------' */
.testi-cont i{
   font-size: 25px;
}
.testi-cont{
   font-size: 26px;
   display: block;
}
.testi-card h2{
   padding: 25px 0;
}
.testi-card{
   color: white;
}
/* '------------------' */
.testi-img{
   background-color: purple;
   border: 2px dashed pink;
   margin: 20px;
   width: 250px;
   height: 250px;
   display: inline-block;
}
.testi-img img{
   width: 100%;
}










@media screen and (min-width: 480px){

   header{
      background-color: rgb(68, 0, 255);
   }
   .long{
      width: calc(66% - 2rem);
   }
   .little{
      width: calc(33% - 2rem);
   }
   .col{
      width: 50%;
   }
   span{
      font-size: 15px;
   }
/*************** strategic **********************/
   .strategic h2{
      font-size: 50px;
   }
   .strategic span{
      font-size: 16px;
   }
   .cont-man h2{
      font-size: 25px;
   }
/*************** testimonials **********************/



   
@media screen and (min-width: 768px){
   header{
      background-color: red;
   }
   .long{
      flex-direction: row;
   }
   .cont{
      width: 50%;
   }
   .col img{
      vertical-align: -300px;
   }
   span{
      font-size: 15px;
      line-height: normal;
   }
   .card h2{
      font-size: 20px;
   }
/*************** strategic **********************/
   .strategic h2{
      font-size: 30px;
   }
   .strategic span{
      font-size: 20px;
   }
   .woman{
      width: calc(50% - 40px);
   }
   .man{
      width: calc(50% - 40px);
      margin-top: 200px;
   }
   .col img{
      vertical-align: -405px;
   }
   .cont-man{
      width: auto;
   }
/*************** testimonials **********************/

}
}